* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #86da5d;
  --primary-text-color: #f0f0f0;
  --dark-grey: #344350;
  --bg-color: #172231;
}

.main {
  background-color: #172231;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-main {
  /* Flex container so the grid is centered and buttons are below or above */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* space between the grid and buttons */
  margin: 0 auto;
  max-width: 600px; /* optional max width */
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(var(--gridSize), 1fr);  */
  /* grid-auto-rows: 40px; */
  gap: 2px;
  width: 100%;
}

.grid-main h1 {
  color: var(--primary-text-color);
  text-align: center;
  max-width: 500px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

/* Dead cell */
.gray-bg {
  background-color: #344350;
}
/* Alive cell 4caf50 */
.alive-bg {
  background-color: var(--primary-green);
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
}

/* Hover effect for cells */
.cell:hover {
  background-color: #ddd;
  transform: scale(1.1);
  cursor: pointer;
}

.grid-main button {
  background-color: var(--primary-green);
  color: var(--dark-grey);
  border: none;
  padding: 0.6rem 1.5rem;
  margin: 0 0.4rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.grid-main button:hover {
  background-color: #45a049;
}

/* You can also group the buttons in a container if you want them side by side nicely */
.button-group {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.button-group h3 {
  color: #f0f0f0;
}

/* Responsive grid for different screen sizes */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 30px;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 25px;
  }
}
